node_modules/
datasources.*.json
!datasources.sample.json
dude-config.json
deployment/roles/
deployment/*.txt
deployment/production.yml
.vagrant
.codekit
.DS_Store
.sass-cache
.sublime-project
.sublime-workspace
