<div class="scream">
  <svg class="mandragora" x="0px" y="0px" viewBox="0 0 192 208">
  <g class="torso">
    <path class="complexion" d="M104.481,137.014c-0.121,0.205-0.274,0.383-0.481,0.486c-2,1-14,1-16,0c-0.22-0.086-0.382-0.264-0.505-0.48C71.719,140.842,60,155.049,60,172c0,12.417,2.737,25.285,5.597,36h60.806c2.859-10.715,5.597-23.583,5.597-36C132,155.04,120.27,140.828,104.481,137.014z"/>
    <path class="mouth" d="M80,175c6.261-3.131,25.739-3.131,32,0c2,1,2,3.001,2,5c0,24-36,24-36,0C78,178,78,176,80,175z"/>
    <circle class="cheek-right" cx="72" cy="172" r="4"/>
    <circle class="cheek-left" cx="120" cy="172" r="4"/>
    <ellipse class="eye-right" cx="83.5" cy="162" rx="3.5" ry="4"/>
    <ellipse class="eye-left" cx="108.5" cy="162" rx="3.5" ry="4"/>
    <path class="twist" d="M104,137.5c-2,1-14,1-16,0c-1-0.393-1-2.5,0-3c-1-0.5-1-2.5,0-3c-1-0.5-1-2.5,0-3c2-1.5,14-1.5,16,0c1,0.5,1,2.5,0,3c1,0.5,1,2.5,0,3C105,135,105,137,104,137.5z"/>
    <path class="twist" d="M104,134.5c-2,1-14,1-16,0c-1-0.5-1-2.5,0-3c2-1,14-1,16,0C105,132,105,134,104,134.5z"/>
    <path class="leaf" d="M151,106c-10-2-14-12-26-12c-13.338,0-20.421,8.825-23.936,19.338C107.083,84.962,122.573,79.03,96,40c-26.573,39.03-11.083,44.962-5.064,73.338C87.421,102.825,80.338,94,67,94c-12,0-16,10-26,12c-9.806,1.961-21-2-25-12c0,28,21.163,32.973,33,31c12-2,16-9,26-9c8.082,0,13.548,3.924,15.348,11.764c3.098-0.517,8.207-0.517,11.305,0c1.8-7.84,7.266-11.764,15.348-11.764c10,0,14,7,26,9c11.837,1.973,33-3,33-31C172,104,160.806,107.961,151,106z"/>
    <path class="veining-right" d="M94.292,127.406C91.988,116.093,83.943,103,69,103c-16,0-21,15-37,11c11,10,23-5,37-5c11.754,0,20.686,7.756,23.25,18.529C92.898,127.472,93.587,127.432,94.292,127.406z"/>
    <path class="veining-center" d="M97.049,127.387C97.543,93.033,101.653,84.613,96,62c-5.653,22.613-1.543,31.033-1.049,65.387C95.647,127.372,96.353,127.372,97.049,127.387z"/>
    <path class="veining-left" d="M123,103c-14.943,0-22.988,13.093-25.292,24.406c0.705,0.025,1.394,0.065,2.042,0.123C102.314,116.756,111.246,109,123,109c14,0,26,15,37,5C144,118,139,103,123,103z"/>
    <path class="stalk-right" d="M87.489,101.096c-4.474-7.784-10.31-13.947-16.514-18.189c2.134-3.813,0.819-8.642-2.978-10.834c-2.188-1.263-4.723-1.37-6.906-0.52c0.727,2.731-2.267,7.92-4.997,8.656c0.355,2.317,1.717,4.458,3.904,5.721c3.601,2.079,8.141,1.039,10.506-2.277c7.758,6.309,12.976,13.675,16.409,21.17c1.679,2.585,3.005,5.475,4.021,8.515C89.962,108.748,88.74,104.746,87.489,101.096z"/>
    <path class="stalk-left" d="M130.907,71.553c-2.185-0.851-4.719-0.743-6.907,0.52c-3.795,2.192-5.11,7.021-2.976,10.834c-6.204,4.243-12.04,10.406-16.514,18.189c-1.251,3.65-2.473,7.652-3.446,12.242c1.017-3.04,2.343-5.93,4.021-8.515c3.434-7.495,8.651-14.861,16.408-21.17c2.365,3.315,6.906,4.355,10.506,2.276c2.188-1.264,3.549-3.404,3.904-5.721C133.174,79.473,130.181,74.284,130.907,71.553z"/>
    <path class="flower-right" d="M61.091,71.549c-3.465-2.001-4.984-2.878-5.484-2.012s2.964,2.866,2.464,3.732s-4.83-1.635-5.33-0.769c-0.5,0.865,3.83,3.366,3.33,4.232s-3.964-1.135-4.465-0.268c-0.499,0.865,1.021,1.743,4.485,3.744C58.823,79.478,61.822,74.28,61.091,71.549z"/>
    <path class="flower-left" d="M130.908,71.549c3.465-2.001,4.984-2.878,5.484-2.012s-2.964,2.866-2.464,3.732s4.829-1.635,5.33-0.769c0.5,0.865-3.83,3.366-3.33,4.232s3.964-1.135,4.464-0.268c0.5,0.865-1.021,1.743-4.484,3.744C133.176,79.478,130.177,74.28,130.908,71.549z"/>
    <path class="shadow" d="M117,116c10,0,14,7,26,9c11.837,1.973,33-3,33-31c-4,10-15.194,13.961-25,12c-10-2-14-12-26-12c-9.48,0-15.79,4.47-19.914,10.824v-0.001c3.434-7.495,8.651-14.86,16.408-21.17c2.365,3.315,6.906,4.355,10.506,2.276c2.188-1.264,3.549-3.404,3.904-5.721c-0.113-0.03-0.227-0.079-0.34-0.124c0.115,0.045,0.23,0.095,0.344,0.125c3.463-2.001,4.984-2.879,4.484-3.744c-0.5-0.867-3.964,1.134-4.464,0.268s3.83-3.367,3.33-4.232c-0.501-0.866-4.83,1.635-5.33,0.769s2.964-2.866,2.464-3.732s-2.02,0.011-5.484,2.012c-0.019,0.068-0.024,0.146-0.038,0.217c0.014-0.07,0.019-0.146,0.037-0.213c-2.185-0.851-4.719-0.743-6.907,0.52c-3.795,2.192-5.11,7.021-2.976,10.834c-6.204,4.243-12.04,10.405-16.513,18.188C110.994,82.178,118.273,72.715,96,40c0,0-0.143,20.006,0,22c1,14,1,43.999,0,65.375v0.001c-0.054,1.154-0.049,2.057,0,2.769v8.105c0.321,0,0.642-0.003,0.961-0.007c7.649,19.22,5.779,50.288,2.689,69.757h26.75c2.859-10.721,5.6-23.58,5.6-36c0-16.959-11.729-31.168-27.517-34.989c0.463-0.788,0.309-2.114-0.483-2.511c1-0.5,1-2.5,0-3c1-0.5,1-2.5,0-3c-0.413-0.31-1.258-0.555-2.348-0.736C103.452,119.924,108.918,116,117,116z"/>
  </g>
  <rect class="clip" x="0" y="172" width="192" height="36"/>
  <path class="complexion-hand-right" d="M44,172c0,4,4,12,6,12c2.236,0,0-6,2-6s2,6,4,6s4-8,4-12C60,165,44,167,44,172z"/>
  <path class="complexion-hand-left" d="M148,172c0,4-4,12-6,12c-2.236,0,0-6-2-6s-2,6-4,6s-4-8-4-12C132,165,148,167,148,172z"/>
  <path class="shadow" d="M136,184c2,0,2-6,4-6s-0.236,6,2,6c2,0,6-8,6-12c0-5-16-7-16,0C132,176,134,184,136,184z"/>
  </svg>

  <div class="speech-bubble">{{text}}</div>
</div>
