{{#search-repo found_repo="onRepoFound"}}
	<a href="" {{action "showStarredRepos"}}>Quick reach my starred Github repositories</a>.
{{/search-repo}}

{{#starred-repos repos=starred_repos}}
{{/starred-repos}}
