{{#search-repo found_repo="onRepoFound"}}
	Quick reach your <a href="" {{action "showStarredRepos"}}>Github starred repositories</a>.
{{/search-repo}}

{{#starred-repos repos=starred_repos}}
{{/starred-repos}}
