<li class="comment typo-m">
  {{#user-avatar user=comment.author}}{{/user-avatar}}
  <p>
    {{{comment.body}}}
    <i class="tributary">
      {{#user-name user=comment.author}}{{/user-name}}
      said
      <time {{bind-attr datetime="comment.date"}}>
        <a href="#2">{{timeAgo}}</a>
      </time>

      {{#if comment.repo}}
         about
        {{#link-to 'project' comment.repo.slug}}
          {{comment.repo.name}}
        {{/link-to}}
      {{/if}}
      .
    </i>
  </p>
</li>
