{{#if repos}}
  <section>
    <header class="notation">
      <h3>Your starred repositories.</h3>
    </header>

    <ul class="projects">

      {{#each repos as |repo|}}
        <li class="project">
          {{#link-to "project" repo.slug}}
            {{repo.slug}} <span class="amount">{{repo.count}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}