{{#if repos}}
  <section class="section-content">
    <h3 class="section-notation">Your Starred Repositories</h3>

    <ul class="projects">
      {{#each repos as |repo|}}
        <li class="project">
          {{#link-to "project" repo.slug}}
            {{repo.slug}} <span class="amount">{{repo.count}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}