/*
Error: Undefined mixin 'apply-origin'.
        on line 11 of /Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss, in `apply-origin'
        from line 11 of /Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss

6: 		//height: em(204/4*3);
7: 		width: em(192);
8: 		height: em(204);
9: 	}
10: 	.torso {
11: 		@include apply-origin(center bottom, false);
12: 		@include transform(translate(0, 0));
13: 		@include transition-property(transform);
14: 		@include transition-duration(0.2s);
15: 		@include transition-timing-function(ease-in-out);
16: 		@include transition-delay(1s);

Backtrace:
/Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss:11:in `apply-origin'
/Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss:11
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:338:in `visit_mixin'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:98:in `with_mixin'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:98:in `with_mixin'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `send'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `send'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:420:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `send'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `send'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:8:in `send'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../compass-import-once/lib/compass/import-once/engine.rb:17:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../compass-import-once/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../compass-import-once/lib/compass/import-once/engine.rb:16:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/plugin/compiler.rb:209:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../../../scss/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/sass_compiler.rb:40:in `compile!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/commands/update_project.rb:49:in `perform'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/commands/base.rb:18:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/commands/project_base.rb:19:in `execute'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/../lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/compass:51
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/compass:65:in `call'
/Applications/CodeKit.app/Contents/Resources/engines/compass/compass/bin/compass:65
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'apply-origin'.\A         on line 11 of /Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss, in `apply-origin'\A         from line 11 of /Applications/MAMP/htdocs/dude/client/app/styles/scss/mandragora/_scream.scss\A \A 6: 		//height: em(204/4*3);\A 7: 		width: em(192);\A 8: 		height: em(204);\A 9: 	}\A 10: 	.torso {\A 11: 		@include apply-origin(center bottom, false);\A 12: 		@include transform(translate(0, 0));\A 13: 		@include transition-property(transform);\A 14: 		@include transition-duration(0.2s);\A 15: 		@include transition-timing-function(ease-in-out);\A 16: 		@include transition-delay(1s);"; }
