<header class="head typo-l">
  {{mandragora-scream text="Do Hold Your Breath!"}}
  <h1>Index</h1>
</header>

<div class="body typo-l">
  <p>Feel free to dive into the index of the already thanked Github projects or add/search for a specific one.</p>
</div>

{{#search-with-starred found_repo="transitionToRepo"}}
{{/search-with-starred}}

<section class="section-content">
  <h3 class="notation">The ABC’s and XYZ's of Thanked Projects</h3>

  {{#letters-index index=model.by_letter}}
  {{/letters-index}}
</section>

{{#github-auth}}{{/github-auth}}