<header class="head typo-l">
  <h2>Index</h2>
</header>

<div class="body typo-l">
  <p>Feel free to dive in the index of the already added/thanked Github projects or add/search for a specific one.</p>
</div>

{{#search-repo found_repo="transitionToRepo" show_starred_repos="showStarredRepos"}}
{{/search-repo}}

{{#starred-repos actionReceiver=model.starredRepos}}
{{/starred-repos}}

<section class="section-content">
  <h3 class="notation">The ABC’s and XYZ's of Thanked Projects</h3>

  {{#letters-index index=model.by_letter}}
  {{/letters-index}}
</section>
