<main class="content">
  <header class="head typo-l">
    <h2>Colophon</h2>
  </header>

  <div class="body typo-l">
    <p><em>Dude, This Is Cool</em> is conceived and created with love by <a href="http://soundcloud.com/alpacaaa" target="_blank">Marco Sampellegrini</a> and <a href="http://www.andreaburan.com" target="_blank">Andrea Buran</a>.</p>
    <p>Its front-end is designed and developed in <a href="http://sass-lang.com/" target="_blank">SCSS</a> + <a href="http://compass-style.org/" target="_blank">Compass</a>, with the help of <a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a> and <a href="http://packery.metafizzy.co/" target="_blank">Packery</a>.</p>
    <p>The mighty <a href="http://emberjs.com/" target="_blank">Ember.js</a> and <a href="http://loopback.io/" target="_blank">Loopback</a> take care of making things awesome.</p>
    <p>The font is <a href="http://www.google.com/fonts/specimen/Roboto" target="_blank">Roboto</a>. The emoji are powered by <a href="http://twitter.github.io/twemoji/" target="_blank">Twitter</a>.</p>
    <hr/>
    <p>If you want to touch base with us, feel free to drop a line at:</p>
    <p><a href="mailto:hey@dudethisis.cool" target="_blank">hey@dudethisis.cool</a></p>
  </div>
</main>