<header class="head typo-l">
  {{mandragora-scream text="Behind the Scenes!"}}
  <h1>Colophon</h1>
</header>

<div class="body typo-l">
  <p><strong>Open source</strong> authors and contributors need much <strong>more love</strong> from the community.</p>
  <p>Those who initiate and share their projects, as well as those who participate and collaborate to constantly improve them, merit a <strong>big thank-you</strong>.</p>
  <p>The intent behind <strong>Dude<sup id="fnref:dude"><a href="#fn:dude">1</a></sup>, This is Cool</strong> is having a space where you can thank the amazing dudes behind your favorite open source projects on GitHub.</p>

  <hr/>

  <h3>Credits</h3>
  <p>This site is conceived and created with love by <a href="http://github.com/alpacaaa" target="_blank">Marco Sampellegrini</a> and <a href="http://www.andreaburan.com" target="_blank">Andrea Buran</a>.</p>
  <p>It is designed and developed in the mighty <a href="http://emberjs.com/" target="_blank">Ember.js</a> + <a href="http://loopback.io/" target="_blank">Loopback</a> and vigorous <a href="http://sass-lang.com/" target="_blank">SCSS</a> + <a href="http://compass-style.org/" target="_blank">Compass</a> tandems, with the help of <a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a> and <a href="http://packery.metafizzy.co/" target="_blank">Packery</a>.</p>
  <p>The font is <a href="http://www.google.com/fonts/specimen/Roboto" target="_blank">Roboto</a> by Google while the emoji are <a href="http://twitter.github.io/twemoji/" target="_blank">Twit Emoji</a> by Twitter.</p>

  <h3>Help and Spread the Word</h3>
  <p>If you would like to help and spread the word about the project, here is a <a href="https://dudethisis.cool/dudethisiscool.png" title="Pic of Meri the Mandragora">link</a> to a pic of Dude’s beautiful mascot <a href="http://en.wikipedia.org/wiki/Mandragora_officinarum" target="_blank" title="Mandragora on Wikipedia">Meri the Mandragora</a> you can share<sup id="fnref:share"><a href="#fn:share">2</a></sup> with others.</p>

  <h3>Contribute and Touch Base</h3>
  <p>If in addition you would like to contribute to the project<sup id="fnref:contribute"><a href="#fn:contribute">3</a></sup> and touch base with us, feel free to wander around <a href="https://github.com/alpacaaa/dude" target="_blank" title="Dude This is Cool GitHub repository">Dude GitHub repository</a> and drop us a line at <a href="mailto:hey@dudethisis.cool" target="_blank">hey@dudethisis.cool</a>.</p>

  <h3>Mumbo Jumbo</h3>
  <p>All site <strong>design</strong> is licensed under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" title="Creative Commons license">CC BY-NC-ND 4.0</a> license, while all site <strong>code</strong> is licensed under the <a href="https://github.com/alpacaaa/dude/blob/master/LICENSE.md" target="_blank" title="Dude’s MIT license">MIT</a> license.</p>

  <aside class="footnotes typo-s">
    <hr>
    <div id="fn:dude" class="footnote">
      <span class="ref-mark">1</span>
      <blockquote>
        <p>The female equivalent [of “<strong>dude</strong>”] was “dudette” or “dudess”, but these have both fallen into disuse, and “dude” is now also used as a <strong>unisex term</strong>.</p>
        <p>
          <cite>
            <em><a href="http://en.wikipedia.org/wiki/Dude" target="_blank" title="Dude on Wikipedia">Dude</a></em>, from Wikipedia.<br/>
            Retrieved 07.06.2015.
          </cite>
        </p>
      </blockquote>
      <p>We are for <strong>gender equality</strong>: please don’t start any war here… thanks! <a href="#fnref:dude">&larrhk;</a></p>
    </div>
    <div id="fn:share" class="footnote">
      <span class="ref-mark">2</span>
      <p>You can share the pic of her as long as you credit this site, but you can’t change her design in any way or use it commercially.</p>
    </div>
    <div id="fn:bug" class="footnote">
      <span class="ref-mark">3</span>
      <p>And of course, we are ready to change any of our index <strong>code words</strong> if you share a better one with us! <a href="#fnref:contribute">&larrhk;</a></p>
    </div>
  </aside>
</div>

{{#github-auth}}{{/github-auth}}
