<header class="head typo-l">
  {{mandragora-scream text="Dude, This Is Cool!"}}
  <h1>Colophon</h1>
</header>

<div class="body typo-l">
  <p><strong>Dude<sup id="fnref:dude"><a href="#fn:dude">1</a></sup>, This Is Cool</strong> is conceived and created with love by <a href="http://soundcloud.com/alpacaaa" target="_blank">Marco Sampellegrini</a> and <a href="http://www.andreaburan.com" target="_blank">Andrea Buran</a>.</p>
  <p>It is designed and developed in the mighty <a href="http://emberjs.com/" target="_blank">Ember.js</a> + <a href="http://loopback.io/" target="_blank">Loopback</a> and vigorous <a href="http://sass-lang.com/" target="_blank">SCSS</a> + <a href="http://compass-style.org/" target="_blank">Compass</a> tandems, with the help of <a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a> and <a href="http://packery.metafizzy.co/" target="_blank">Packery</a>.</p>
  <p>The font is <a href="http://www.google.com/fonts/specimen/Roboto" target="_blank">Roboto</a> by Google while the emoji are <a href="http://twitter.github.io/twemoji/" target="_blank">Twit Emoji</a> by Twitter.</p>
  <hr/>
  <h3>Get in Touch</h3>
  <p>If you would like to contribute to the project<sup id="fnref:bug"><a href="#fn:bug">2</a></sup> and/or simply touch base with us, feel free to check <a href="https://github.com/alpacaaa/dude" target="_blank">Dude GitHub repository</a> and/or drop us a line at <a href="mailto:hey@dudethisis.cool" target="_blank">hey@dudethisis.cool</a>.</p>
  <h3>Mascot</h3>
  <p>Here is a <a href="#">link</a> to a pic of Dude’s mascot—<a href="http://en.wikipedia.org/wiki/Mandragora_officinarum" target="_blank">Name the Mandragora</a>—you can share it with others as long as you credit this site, but you can’t change the pic in any way or use it commercially: all <strong>site design</strong> is under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a> license.</p>
  <aside class="footnotes typo-s">
    <hr>
    <div id="fn:dude" class="footnote">
      <span class="ref-mark">1</span>
      <blockquote>
        <p>The female equivalent [of “<strong>dude</strong>”] was “dudette” or “dudess”, but these have both fallen into disuse, and “dude” is now also used as a <strong>unisex term</strong>.</p>
        <p>
          <cite>
            <em><a href="http://en.wikipedia.org/wiki/Dude" target="_blank">Dude</a></em>, from Wikipedia.<br/>
            Retrieved 07/06/2015.
          </cite>
        </p>
      </blockquote>
      <p>We are for <strong>gender equality</strong>: please don’t start any war here… thanks! <a href="#fnref:dude">&larrhk;</a></p>
    </div>
    <div id="fn:bug" class="footnote">
      <span class="ref-mark">2</span>
      <p>Even if you spot and report a bug on GitHub, that would be of great help! <a href="#fnref:bug">&larrhk;</a></p>
    </div>
  </aside>
</div>

{{#github-auth}}{{/github-auth}}