<header class="head typo-l">
	<h1>Home, Sweet Home</h1>
</header>

<div class="body typo-l">
	<p>Have you always looked for the chance to thank the people behind that cool project you always rely on, but never found the opportunity?</p>
	<p>Now you can, with <strong>Dude, This Is Cool</strong>: pick your favorite Github project/s and thank their author/s!</p>
</div>

{{#search-with-starred found_repo="transitionToRepo"}}
{{/search-with-starred}}

<section class="section-content">
	<h3 class="notation">The Freshest Thanks</h3>

	{{#comments-list comments=model.latest_comments showIndex=false}}
	{{/comments-list}}
</section>
