<header class="head typo-l">
  {{mandragora-scream text="Dude, This Is Cool!"}}
  <h1>Home, Sweet Home</h1>
</header>

<div class="body typo-l">
  <p>Open source projects are amazing and guess what, it’s because their authors are amazing too: why not show some love to these dudes?!?</p>
  <p>This is what <strong>Dude, This Is Cool</strong> is about: pick a project on Github and thank its author/s!</p>
</div>

{{#search-with-starred found_repo="transitionToRepo"}}
{{/search-with-starred}}

<section class="section-content">
  <h3 class="notation">The Freshest Thanks</h3>

  {{#comments-list comments=model.latest_comments showIndex=false}}
  {{/comments-list}}
</section>

{{#github-auth}}{{/github-auth}}
