<header class="head typo-l">
  <h2>{{model.project.name}}</h2>
</header>

{{#project-overview project=model.project}}
{{/project-overview}}

<section class="section">
  <!--<h3 class="section-notation">Wanna Thank?</h3>-->

  {{#comment-form
    project=model.project
    submit="newComment"
    chars_allowed=model.chars_allowed
    errorMsg=model.form.errorMsg
    reset=model.form.reset}}
  {{/comment-form}}
</section>

<section class="section-content first">
  <h3 class="notation">
    {{#if model.project.comments.length}}
      Up to {{model.project.comments.length}} Thanks So Far
    {{else}}
      No Thanks Yet
    {{/if}}
  </h3>

  {{#comments-list comments=model.project.comments showRepo=false comment_selected=model.comment_selected}}
  {{/comments-list}}
</section>
