<header class="head typo-l">
  <h2>{{project.name}}</h2>
</header>

{{#project-overview project=project}}
{{/project-overview}}

<section class="section">
  <!--<h3 class="section-notation">Wanna Thank?</h3>-->

  {{#comment-form project=project submit="newComment" actionReceiver=commentForm chars_allowed=chars_allowed}}
  {{/comment-form}}
</section>

<section class="section-content">
  <h3 class="notation">
    {{#if project.comments.length}}
      Up to {{project.comments.length}} Thanks So Far
    {{else}}
      No Thanks Yet
    {{/if}}
  </h3>

  {{#comments-list comments=project.comments showRepo=false comment_selected=comment_selected}}
  {{/comments-list}}
</section>
